
@font-face {
   font-family: 'poller oneregular';
      src: url(' .. /fonts/pollerone/pollerone-webfont.eot');
      src: url (' .. /fonts/pollerone/pollerone-weЬfont. eot ?#iefix')
   format ( 'emЬedded-opentype') ,
   url (' .. /fonts/pollerone/pollerone-weЬfont.woff') format('woff'),
         url(' .. /fonts/pollerone/pollerone-weЬfont.ttf')
   format ( 'truetype' ) ,
         url(' .. /fonts/pollerone/pollerone-webfont.svg#poller_oneregular')
   format ( 'svg') ;
   }
  
   @font-face {
      font-family: 'leckerli_oneregular';
         src: url(' .. /fonts/leckerlione/leckerlione-regular-weЬfont.eot');
         src: url(' .. /fonts/leckerlione/leckerlione-regular-weЬfont.eot?#iefix') 
      format ( 'emЬedded-opentype') ,
            url (' .. /fonts/leckerlione/leckerlione-regular-weЬfont.woff')
      format ( 'woff'),
            url (' .. /fonts/leckerlione/leckerlione-regular-weЬfont.ttf')
      format ( 'truetype' ) ,
            url (' .. /fonts/leckerlione/leckerlione-regular-weЬfont.svg#leckerli_oneregular') 
      format('svg');
      }
body {
   background: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: normal;
   margin: 0;
   min-width: 960px;
   padding: 0;

}
P {
color: #252525;
line-height: 24px;
margin: 0;
padding: 0;
}
Р а {
   color: #252525;
   text-decoration: underline;
}
   р a:hover {
   color: #898989;
}
#header {
   margin: 0 auto;
   padding: 44px 0 50px;
   text-align: center;
   width: 960px;
}
#header a.logo {
   display: block;
   margin: 0 auto;
   padding: 0;
   width: 340px;
}
